{% extends 'layouts/auth_base.html' %}
{% load static i18n %}

{% block content %}
  <div class="brand-logo">
    <img src="{% static 'hrms_app/img/logo.png' %}" alt="logo">
  </div>
  <h6 class="fw-light my-5">{% trans "An email has been sent to your email address. Please click the link and reset your password." %}</h6>
  <div class="my-2">
    <p><a href="{% url 'login' %}" class="auth-link text-black">{% trans "Login" %}</a></p>
    {% comment %} <p><a href="{% url 'register' %}" class="auth-link text-black">Register</a></p> {% endcomment %}
  </div>
{% endblock content %}