{% extends 'hrms_app/base.html' %}
{% load static hrms_tag i18n %}

{% block title %}
  {{ request.user.username|upper }} | Dashboard
{% endblock %}

{% block content_main %}
  {% render_breadcrumb 'Dashboard' urls %}

  <div class="m-3">
    <div class="row mt-2">
      <div class="cell-lg-3 cell-sm-6 mt-2">
        <div class="icon-box border bd-cyan">
          <div class="icon bg-cyan fg-white">
            <span class="mif-cog"></span>
          </div>
          <div class="content p-4">
            <div class="text-upper">cpu traffic</div>
            <div class="text-upper text-bold text-lead">90%</div>
          </div>
        </div>
      </div>
      <div class="cell-lg-3 cell-sm-6 mt-2">
        <div class="icon-box border bd-red">
          <div class="icon bg-red fg-white">
            <span class="mif-google-plus"></span>
          </div>
          <div class="content p-4">
            <div class="text-upper">likes</div>
            <div class="text-upper text-bold text-lead">41,410</div>
          </div>
        </div>
      </div>
      <div class="cell-lg-3 cell-sm-6 mt-2">
        <div class="icon-box border bd-green">
          <div class="icon bg-green fg-white">
            <span class="mif-cart"></span>
          </div>
          <div class="content p-4">
            <div class="text-upper">sales</div>
            <div class="text-upper text-bold text-lead">1024</div>
          </div>
        </div>
      </div>
      <div class="cell-lg-3 cell-sm-6 mt-2">
        <div class="icon-box border bd-orange">
          <div class="icon bg-orange fg-white">
            <span class="mif-users"></span>
          </div>
          <div class="content p-4">
            <div class="text-upper">new members</div>
            <div class="text-upper text-bold text-lead">3,300</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="cell-lg-3 cell-md-6 mt-2">
        <div class="more-info-box bg-cyan fg-white">
          <div class="content">
            <h2 class="text-bold mb-0">150</h2>
            <div>New Orders</div>
          </div>
          <div class="icon">
            <span class="mif-cart"></span>
          </div>
          <a href="#" class="more">More info <span class="mif-arrow-right"></span></a>
        </div>
      </div>
      <div class="cell-lg-3 cell-md-6 mt-2">
        <div class="more-info-box bg-green fg-white">
          <div class="content">
            <h2 class="text-bold mb-0">53%</h2>
            <div>Bounce Rate</div>
          </div>
          <div class="icon">
            <span class="mif-chart-bars"></span>
          </div>
          <a href="#" class="more">More info <span class="mif-arrow-right"></span></a>
        </div>
      </div>
      <div class="cell-lg-3 cell-md-6 mt-2">
        <div class="more-info-box bg-orange fg-white">
          <div class="content">
            <h2 class="text-bold mb-0">44</h2>
            <div>New Registrations</div>
          </div>
          <div class="icon">
            <span class="mif-user-plus"></span>
          </div>
          <a href="#" class="more">More info <span class="mif-arrow-right"></span></a>
        </div>
      </div>
      <div class="cell-lg-3 cell-md-6 mt-2">
        <div class="more-info-box bg-red fg-white">
          <div class="content">
            <h2 class="text-bold mb-0">10,000</h2>
            <div>Unique Visitors</div>
          </div>
          <div class="icon">
            <span class="mif-user-check"></span>
          </div>
          <a href="#" class="more">More info <span class="mif-arrow-right"></span></a>
        </div>
      </div>
    </div>

    <div data-role="panel" data-title-caption="Monthly Recap Report" data-collapsible="true" data-title-icon="<span class='mif-chart-line'></span>" class="mt-4">
      <div class="row">
        <div class="cell-md-8 p-10">
          <h5 class="text-center">Sales: 1 Jan, 2014 - 30 Jul, 2014</h5>
          <canvas id="dashboardChart1"></canvas>
        </div>
        <div class="cell-md-4 p-10">
          <h5 class="text-center">Goal Completion</h5>
          <div class="mt-6">
            <div class="clear">
              <div class="place-left">Add Products to Cart</div>
              <div class="place-right">
                <strong>160</strong>/200
              </div>
            </div>
            <div data-role="progress" data-value="35" data-cls-bar="bg-cyan"></div>
          </div>
          <div class="mt-6">
            <div class="clear">
              <div class="place-left">Complete Purchase</div>
              <div class="place-right">
                <strong>310</strong>/400
              </div>
            </div>
            <div data-role="progress" data-value="35" data-cls-bar="bg-red"></div>
          </div>
          <div class="mt-6">
            <div class="clear">
              <div class="place-left">Visit Premium Page</div>
              <div class="place-right">
                <strong>480</strong>/800
              </div>
            </div>
            <div data-role="progress" data-value="35"></div>
          </div>
          <div class="mt-6">
            <div class="clear">
              <div class="place-left">Send Inquiries</div>
              <div class="place-right">
                <strong>250</strong>/500
              </div>
            </div>
            <div data-role="progress" data-value="35" data-cls-bar="bg-orange"></div>
          </div>
          <div class="mt-6">
            <p class="text-small">Cum brodium resistere, omnes spatiies perdere varius, magnum lanistaes.</p>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="cell-lg-3 cell-sm-6 text-center mt-4">
          <div class="fg-green">
            <span class="mif-arrow-drop-up"></span>17%
          </div>
          <div class="text-bold">$35,210.43</div>
          <div class="text-upper">TOTAL REVENUE</div>
        </div>
        <div class="cell-lg-3 cell-sm-6 text-center mt-4">
          <div class="fg-orange">
            <span class="">=</span>0
          </div>
          <div class="text-bold">$10,390.90</div>
          <div class="text-upper">TOTAL COST</div>
        </div>
        <div class="cell-lg-3 cell-sm-6 text-center mt-4">
          <div class="fg-green">
            <span class="mif-arrow-drop-up"></span>20%
          </div>
          <div class="text-bold">$24,813.53</div>
          <div class="text-upper">TOTAL PROFIT</div>
        </div>
        <div class="cell-lg-3 cell-sm-6 text-center mt-4">
          <div class="fg-red">
            <span class="mif-arrow-drop-down"></span>18%
          </div>
          <div class="text-bold">1,200</div>
          <div class="text-upper">GOAL COMPLETIONS</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="cell-md-7">
        <div data-role="panel" data-title-caption="Staff salary" data-collapsible="true" data-title-icon="<span class='mif-table'></span>" class="mt-4">
          <div class="p-4">
            <table class="table striped table-border mt-4" data-role="table" data-cls-table-top="row" data-cls-search="cell-md-6" data-cls-rows-count="cell-md-6" data-rows="5" data-rows-steps="5, 10" data-show-activity="false" data-source="static/source/data/table.json" data-horizontal-scroll="true"></table>
          </div>
        </div>
      </div>

      <div class="cell-md-5">
        <div data-role="panel" data-title-caption="Assigned Employees" data-collapsible="true" data-title-icon="<span class='mif-users'></span>" class="mt-4">
          <ul class="user-list">
            {% if user.employees %}
              {% for employee in user.employees.all %}
                <li>
                  <a style="cursor: pointer;" href="#!" data-role="hint" data-hint-position="bottom" data-hint-text="View Profile">
                    <img src="{% if employee.personal_detail.avatar %}
                        {{ employee.personal_detail.avatar.url }}
                      {% else %}
                        {% static 'source/images/user1-128x128.jpg' %}
                      {% endif %}"
                      class="avatar" />
                  </a>
                  <div class="text-ellipsis">{{ employee.first_name }} {{ employee.last_name }}</div>
                  <div class="text-small text-muted">{{ employee.personal_detail.designation.name }}</div> <!-- Assuming designation is a ForeignKey -->
                </li>
              {% endfor %}
            {% else %}
              <h5>No Assigned Employees</h5>
            {% endif %}
          </ul>
          <div class="p-2 border-top bd-default text-center">
            <a href="#">View all users</a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center m-4">
      <button class="button info" onclick="Metro.bottomsheet.toggle('#bottom-sheet', 'list')">List style</button>
      <button class="button info" onclick="Metro.bottomsheet.toggle('#bottom-sheet', 'grid')">Grid style</button>
    </div>
    <ul id="bottom-sheet" data-role="bottomsheet">
      <li>
        <span class="icon mif-comment"></span>Message
      </li>
      <li>
        <span class="icon mif-location"></span>Location
      </li>
      <li>
        <span class="icon mif-keyboard-voice"></span>Voice
      </li>
      <li>
        <span class="icon mif-phone"></span>Dialer
      </li>
      <li class="divider"></li>
      <li>
        <span class="icon mif-file-upload"></span>Upload
      </li>
    </ul>
  </div>
{% endblock %}

{% block xtra_js %}
  <script src="{% static 'source/js/charts.js' %}"></script>
{% endblock %}
