{% extends 'hrms_app/base.html' %}
{% load static hrms_tag humanize i18n %}

{% block title %}
  {{ user }} | {{ object.title }}
{% endblock %}

{% block extrastyle %}
  <style>
    .center-row {
      display: flex;
      justify-content: center;
    }
  </style>
{% endblock %}

{% block content %}
  {% render_breadcrumb 'Attendance' urls %}

  <div class="mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-12 mb-4">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <span class="me-2"><i class="bi bi-grid"></i></span>
            <span>{{ object.title }}</span>
          </div>
          <div class="card-body">
            <div class="mb-4">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span><b>Login Time:</b></span>
                  <span class="badge bg-info">{{ object.start_date }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span><b>Logout Time:</b></span>
                  <span class="badge bg-info">{{ object.end_date }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span><b>Working Hours:</b></span>
                  <span class="badge bg-secondary">{{ object.duration.hour }} Hrs and {{ object.duration.minute }} Mins</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span><b>Status:</b></span>
                  <span class="float-end fw-bold text-uppercase {{ object.att_status }}">{{ object.att_status }}</span>
                  {% comment %} <span class="badge bg-success text-white">{{ object.att_status }}</span> {% endcomment %}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% if object.actions %}
        <div class="col-md-6 col-sm-12 mb-4">
          {% if object.actions.all %}
            <div class="accordion" id="followUpsAccordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="followUpsHeader"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#followUpsCollapse" aria-expanded="true" aria-controls="followUpsCollapse">Follow Ups</button></h2>
                <div id="followUpsCollapse" class="accordion-collapse collapse show" aria-labelledby="followUpsHeader">
                  <div class="accordion-body">
                    <ul class="list-unstyled">
                      {% for log in object.actions.all|dictsortreversed:'timestamp' %}
                        <li class="p-2 mb-2" style="background-color: azure;">
                          <strong class="{{ log.action }}">{{ log.action|capfirst }}</strong> by {{ log.action_by_name }} - {{ log.timestamp|naturaltime }}
                        </li>
                      {% empty %}
                        <li>No logs available.</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="alert">No Follow ups</div>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="col-md-12 col-sm-12 mb-4">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <span class="me-2"><i class="bi bi-grid"></i></span>
          <span>{{ object.reg_status|capfirst }}</span>
        </div>
        <div class="card-body">
          <form id="reg-application-form" method="post">
            {% csrf_token %}
            <div class="row">
              {% for field in form %}
                <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                  <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                      <div class="invalid-feedback d-block">
                        <ul class="mb-0">
                          {% for error in field.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
            {% if object.is_submitted %}
              <div class="form-check mb-3 mx-5">
                <input class="form-check-input" type="checkbox" id="submittedCheckbox" checked disabled />
                <label class="form-check-label" for="submittedCheckbox">Submitted</label>
              </div>
            {% endif %}
          </form>
        </div>
        <div class="card-footer">
          {% if not is_manager %}
            <div class="d-flex justify-content-start">
              <button type="button" class="btn btn-primary {% if not object.status == 'pending' %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#updateDialog">Submit For Regularization</button>
            </div>
          {% endif %}
        </div>
        {% if not user == object.applied_by and object.is_submitted %}
          <div class="card-footer">
            <form id="action-form" method="post" action="{% url 'attendance_log_action' slug=object.slug %}">
              {% csrf_token %}
              {{ action_form.as_p }}
              {% if user.personal_detail.designation.department.department == 'admin' %}
                <button type="button" name="action" value="approve" class="btn btn-sm btn-primary action-btn" data-bs-toggle="modal" data-bs-target="#actionDialog" data-action="approve">{% trans 'Approve' %}</button>
                <button type="button" name="action" value="reject" class="btn btn-sm btn-danger action-btn" data-bs-toggle="modal" data-bs-target="#actionDialog" data-action="reject">{% trans 'Reject' %}</button>
              {% else %}
                <button type="button" name="action" value="recommend" class="btn btn-sm btn-success action-btn" data-bs-toggle="modal" data-bs-target="#actionDialog" data-action="recommend">{% trans 'Recommend' %}</button>
                <button type="button" name="action" value="notrecommend" class="btn btn-sm btn-warning action-btn" data-bs-toggle="modal" data-bs-target="#actionDialog" data-action="notrecommend">{% trans 'Not Recommend' %}</button>
              {% endif %}
            </form>
          </div>
        {% endif %}
      </div>

      <div class="modal fade" id="updateDialog" tabindex="-1" aria-labelledby="updateDialogLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateDialogLabel">{% trans 'Are you sure?' %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">You want to update the {{ object.reg_status|upper }} duration {{ object.reg_duration }}</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" onclick="submitForm()">Submit</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="actionDialog" tabindex="-1" aria-labelledby="actionDialogLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="actionDialogLabel">{% trans 'Are you sure?' %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- This content will be dynamically updated -->
              <p id="action-message"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
              <button type="button" class="btn btn-primary" id="confirm-action-btn">{% trans 'Submit' %}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'hrms_app/js/attendance_log.js' %}"></script>
  <script>
    function submitForm() {
      document.getElementById('reg-application-form').submit()
    }
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.getElementById('action-form')
      const actionMessage = document.getElementById('action-message')
      const confirmActionBtn = document.getElementById('confirm-action-btn')
      let selectedAction = ''
    
      // Add click event listeners to all action buttons
      document.querySelectorAll('.action-btn').forEach((button) => {
        button.addEventListener('click', function () {
          selectedAction = this.getAttribute('data-action') // Get the action value
          const actionText = this.textContent.trim() // Get the button text
          actionMessage.textContent = `Are you sure you want to ${actionText.toLowerCase()} the duration {{ object.reg_duration }}?`
        })
      })
    
      // Handle the confirmation button click
      confirmActionBtn.addEventListener('click', function () {
        // Set the action field value in the form
        const actionInput = document.createElement('input')
        actionInput.type = 'hidden'
        actionInput.name = 'action'
        actionInput.value = selectedAction
        form.appendChild(actionInput)
        form.submit()
      })
    })
  </script>
{% endblock %}
