{% extends 'hrms_app/base.html' %}
{% load static hrms_tag humanize i18n %}
{{ form.media }}
{% block title %}
  {{ leave_application.appliedBy }} | {{ leave_application.applicationNo }}
{% endblock %}
{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'hrms_app/css/status.css' %}" />
{% endblock %}
{% block content %}
  {% render_breadcrumb 'Leave Detail' urls %}

  {% if form.non_field_errors %}
    <div class="notifications">
      {% for error in form.non_field_errors %}
        <div class="notification error">{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="bg-light p-4">
    <div class="row">
      <div class="col-12 col-md-6 mb-4">
        <div class="card">
          <div class="card-header bg-info text-white d-flex align-items-center">
            {% if leave_application.appliedBy.personal_detail.avatar %}
              <img src="{{ leave_application.appliedBy.personal_detail.avatar.url }}" class="rounded-circle me-3" style="width: 40px; height: 40px;" alt="Avatar" />
            {% endif %}
            <div>
              <h5 class="mb-0">{{ leave_application.appliedBy }}</h5>
              <small>Application No: {{ leave_application.applicationNo }}</small>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>{{ leave_application.leave_type.leave_type_short_code }} Leave Balance:</strong>
                <span class="float-end fw-bold">{{ leave_balance.remaining_leave_balances }}</span>
              </li>
              <li class="list-group-item">
                <strong>Leave Balance after approval:</strong>
                <span class="float-end fw-bold">{{ leave_application.balanceLeave }}</span>
              </li>
              <li class="list-group-item">
                <strong>Days:</strong>
                <span class="float-end fw-bold">{{ leave_application.usedLeave }}</span>
              </li>
              <li class="list-group-item">
                <strong>Status:</strong>
                <span class="float-end fw-bold text-uppercase {{ leave_application.status }}">{{ leave_application.status }}</span>
              </li>
            </ul>
            <div class="mt-3">
              <p>
                <strong>From:</strong> {{ leave_application.startDate|localtime_filter}} -{% leave_start_end_status leave_application.startDayChoice %}
              </p>
              <p>
                <strong>To:</strong> {{ leave_application.endDate|localtime_filter}} -{% leave_start_end_status leave_application.endDayChoice %}
              </p>             <hr />
              <p>
                <strong>Reason:</strong>
              </p>
              <p>{{ leave_application.reason|safe }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-header">Follow Ups</div>
          <div class="card-body">
            <ul class="list-group">
              {% for log in leave_application.logs.all %}
                <li class="list-group-item">
                  <p>
                    <strong>{{ log.action }}</strong> by {{ log.action_by_name }} - {{ log.timestamp|naturaltime }}
                  </p>
                </li>
              {% empty %}
                <li class="list-group-item">No logs available.</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <form id="leave-application-form" method="post" action="{% url 'leave_application_update' leave_application.slug %}">
              {% csrf_token %}
              <div class="row g-3">
                <div class="col-md-6">{{ status_form.status }}</div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary btn-sm w-100 {% if user == leave_application.appliedBy and leave_application.status == 'cancelled' %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#updateDialog">
                    {% if is_manager %}
                      Update
                    {% else %}
                      Request Cancellation
                    {% endif %}
                  </button>
                </div>
              </div>

              <!-- Update Dialog -->
              <div class="modal fade" id="updateDialog" tabindex="-1" aria-labelledby="updateDialogLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="updateDialogLabel">Are you sure?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      {% if is_manager %}
                        You want to update the application {{ leave_application.applicationNo }} of {{ leave_application.appliedBy }}.
                      {% else %}
                        You want to cancel your "{{ leave_application.applicationNo }}" leave.
                      {% endif %}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <form id="action-form" method="post" action="{% url 'attendance_log_action' slug=object.slug %}">
              {% csrf_token %}
              {% if leave_application.appliedBy == user and leave_application.status|in_list:'pending,cancelled,rejected' %}
                <a class="btn btn-sm btn-danger" href="{{delete_url}}">{% trans 'Delete' %}</a>
                <a class="btn btn-sm btn-info" href="{{edit_url}}">{% trans 'Edit' %}</a>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    function submitForm() {
      document.getElementById('leave-application-form').submit()
    }
  </script>
{% endblock %}
